<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head.ejs') %>

    <body>
        <%- include('../../layout/header.ejs') %>
            <main>
                <legend>Result</legend>
                <section id='book'>
                    <div class="bookDiv">
                        <img class="bookImg" src="<%= element.img%>" alt="">
                        <h2 class="Tilte">
                            <%= element.title%>
                        </h2>
                        <p class="Author">
                            <%= element.author%>
                        </p>
                        <p class="description">
                            <%= element.description%>
                        </p>
                        <button class="update-button" onclick="openForm()">Update</button>
                        <form id="details_form" action="/books/<%= element.id%>?_method=DELETE" method="POST">
                            <button type="submit" class="delete-button">Delete Book</button>
                        </form>
                    </div>
                </section>
                <%- include('../../layout/edit.ejs') %>
            </main>
            <%- include('../../layout/footer.ejs') %>
    </body>

    <script src="/public/js/app.js"></script>

</html>